.bg-yellow {
    background-color: $yellow;
}

.bg-lightgrey {
    background-color: $lightgrey;
}

.bg-gradient-on-hover:hover {
    background-image: linear-gradient(to top, rgba(75, 75, 75, .9) 0%, rgba(75, 75, 75, .8) 20%, rgba(75, 75, 75, .7) 40%, rgba(75, 75, 75, .6) 60%, rgba(75, 75, 75, .5) 70%, rgba(75, 75, 75, .3) 80%);
}

.bg-transparent {
    background-color: red !important;
}

.bg-black {
    background-color: $black !important;
}

.bg-black-2 {
    background-color: $black3 !important;
}