.border-bottom-lightgrey {
    border-bottom: 1px solid $opacitiedLightgrey;
}

.border-bottom-lightgrey-2 {
    border-bottom: 1px solid $opacitiedLightgrey !important;
}

.border-bottom-lightgrey-3 {
    border-bottom: 1px solid $opacitiedLightgrey2 !important;
}

