// ant-dropdown
.ant-dropdown-menu {
    padding: .4rem 1.4rem .9rem 1.4rem!important;
}

.ant-dropdown-menu-item {
    padding: 0 !important;
    background-color: white  !important;
    cursor: default !important;
}