// -brand-img-
.brand-img {
    width: 130px;
    height: auto;
}

.brand-img-2 {
    width: 200px;
    height: auto;
}

@media (min-width: 992px) {
    .brand-img {
        width: 200px;
    }
}

/* patterns */

/*-pattern-*/
.pattern,
.pattern-2 {
    background-color: transparent !important;
}

.pattern::after,
.pattern-2::after {
   	background: rgba(0, 0, 0, .3) url(../images/patterns/pattern.png);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.pattern-2::after {
 background: rgba(0, 0, 0, .4) url(../images/patterns/pattern.png);
}

.pattern-2::after {
    z-index: 1;
}

/*-bg-pattern-*/
.bg-pattern {
   	background: rgba(0, 0, 0, .4) url(../images/patterns/pattern.png);
    height: 100%;
    left: 0;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* the-end-of-patterns */

// -small-img-
.small-img {
    width: 50px;
    height: 50px;
}

// -small-img-2-
.small-img-2 {
    width: 80px;
    height: 80px;
}

// -full-bg-img-
.full-bg-img {
    background-size: cover !important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

// -img-box-img-
.img-box-img {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: block;
}

// -img-box-1-
.img-box-1 {
    width: 100%;
    overflow: hidden;
    height: 60vw;
}

@media (min-width: 768px) {
    .img-box-1 {
        height: 30vw;
    }
}

@media (min-width: 992px) {
    .img-box-1 {
        height: 16vw;
    }
}

// -cover-img-1-
.cover-img-1 {
    width: 100% !important;
    height: 90vw;
    object-fit: cover;
}

@media (min-width: 768px) {
    .cover-img-1 {
        height: 47vw;
    }
}

@media (min-width: 992px) {
    .cover-img-1 {
        height: 25vw;
    }
}

// -cover-img-2-
.cover-img-2 {
    width: 100% !important;
    height: 60vw;
    object-fit: cover;
}

@media (min-width: 768px) {
    .cover-img-2 {
        height: 55vw;
    }
}

@media (min-width: 992px) {
    .cover-img-2 {
        height: 23vw;
    }
}

// -cover-img-3-
.cover-img-3 {
    width: 100% !important;
    height: 13vw;
    object-fit: cover;
}

@media (min-width: 992px) {
    .cover-img-3 {
        height: 5.2vw;
    }
}

// -cover-img-4-
.cover-img-4 {
    width: 100% !important;
    height: 60vw !important;
    object-fit: cover;
}

@media (min-width: 768px) {
    .cover-img-4 {
        height: 55vw !important;
    }
}

@media (min-width: 992px) {
    .cover-img-4 {
        height: 15vw !important;
    }
}

