// -yellow-underline-
.yellow-underline {
    position: relative;
    padding-bottom: 1rem;
}

.yellow-underline::before {
    content: "";
    position: absolute;
    left: calc(50% - 35px);
    bottom: 0;
    height: 4px;
    background-color: $yellow;
    width: 70px;
}

.underline-left::before {
    left: 0;
}

// -underline-on-hover-
@media (hover: hover) {
    .underline-on-hover:hover {
        text-decoration: underline;
    }
}

.underline-on-hover:active {
    text-decoration: underline;
}